%section.main-footer
  .main-footer__col
    %img{ src: "assets/img/logos/logo-toscana.png", alt: "Toscana Ciudadela Logo" }
    %p Ubicado en el municipio de Sabaneta, Antioquia, sector Loma de San José, zona de alta valorización en una reserva natural que te entregará toda la tranquilidad que necesitas.
    %ul.rrss
      %li
        %a{ href: "https://www.facebook.com/nivelpropiedadraiz", target: "blank" }
          %i.fa.fa-facebook
      %li
        %a{ href: "https://www.instagram.com/nivelpropiedadraiz/", target: "blank" }
          %i.fa.fa-instagram
  .main-footer__col
    %ul.menu
      %li.menu-title MENÚ
      %li
        %a.scroll-link{ href: "#sabaneta" } Vive en Sabaneta
      %li
        %a.scroll-link{ href: "#ciudadela" } Estamos cerca de 
      %li
        %a.scroll-link{ href: "#video" } Video 
      %li
        %a.scroll-link{ href: "#proyectos" } Proyectos
      %li
        %a.scroll-link{ href: "#ubicacion" } Ubicación
      %li
        %a.scroll-link{ href: "#contacto" } Contacto
  .main-footer__col
    %ul.menu
      %li.menu-title Contáctanos
    %dl
      %dt Dirección
      %dd
        %a{ href: "https://www.google.com/maps/place/Toscana+Ciudadela+Residencial/@6.1390098,-75.620371,18z/data=!3m1!4b1!4m5!3m4!1s0x8e46830c1ec24059:0xdd3aab6ba48bd17e!8m2!3d6.1390071!4d-75.6192767?hl=en" } Calle 77 Sur Nro 34-35
      %dt Teléfono
      %dd
        %a{ href: "tel:+575202714" } + 57 520 27 14
      %dt Celular
      %dd
        %a{ href: "tel:+573148775701" } + 57 314 877 57 01
    %a.btn.btn-custom.transparent.d-none{ href: "" } Descargar Brochure