%section.main-footer
  .main-footer__col
    %img{ src: "assets/img/logos/logo-toscana.png", alt: "Toscana Ciudadela Logo" }
    %p Ubicado en el municipio de Sabaneta, Antioquia, sector Loma de San José, zona de alta valorización en una reserva natural que te entregará toda la tranquilidad que necesitas.
    %ul.rrss
      %li
        %a{ href: "https://www.facebook.com/nivelpropiedadraiz", target: "blank" }
          %i.fa.fa-facebook
      %li
        %a{ href: "https://www.instagram.com/nivelpropiedadraiz/", target: "blank" }
          %i.fa.fa-instagram
  .main-footer__col
    %ul.menu
      %li.menu-title MENÚ
      %li
        %a.scroll-link{ href: "#sabaneta" } Vive en Sabaneta
      %li
        %a.scroll-link{ href: "#ciudadela" } Estamos cerca de 
      %li
        %a.scroll-link{ href: "#video" } Video 
      %li
        %a.scroll-link{ href: "#proyectos" } Proyectos
      %li
        %a.scroll-link{ href: "#ubicacion" } Ubicación
      %li
        %a.scroll-link{ href: "#contacto" } Contacto
  .main-footer__col
    %ul.menu
      %li.menu-title Contáctanos
    %dl
      %dt Dirección
      %dd Calle 77 Sur Nro 34-35
      %dt Teléfono
      %dd
        %a{ href: "tel:575202714" } + 57 520 27 14
      %dt Celular
      %dd
        %a{ href: "tel:573148775701" } + 57 314 877 57 01
    %a.btn.btn-custom.transparent{ href: "" } Descargar Brochure