%nav.navbar.navbar-expand-lg
  %a.navbar-brand{ href: "#" }
    %img{ src: "assets/img/logos/logo-toscana.png" }
  %button.navbar-toggler{ "aria-controls" => "toscanaNavbar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#toscanaNavbar", "data-toggle" => "collapse", type: "button" }
    %span.fa.fa-bars
  #toscanaNavbar.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %a.nav-link.scroll-link{ href: "#sabaneta" } Vive en Sabaneta
      %li.nav-item
        %a.nav-link.scroll-link{ href: "#ciudadela" } Estamos cerca de
      %li.nav-item
        %a.nav-link.scroll-link{ href: "#video" } Video
      %li.nav-item
        %a.nav-link.scroll-link{ href: "#proyectos" } Proyectos toscana
      %li.nav-item
        %a.nav-link.scroll-link{ href: "#ubicacion" } Ubicación
      %li.nav-item
        %a.nav-link.scroll-link{ href: "#contacto" } Contacto
    %ul.navbar-nav.ml-auto
      %li.nav-item
        %a.nav-link{ href: "https://www.facebook.com/nivelpropiedadraiz", target: "blank" }
          %i.fa.fa-facebook
      %li.nav-item
        %a.nav-link{ href: "https://www.instagram.com/nivelpropiedadraiz/", target: "blank" }
          %i.fa.fa-instagram