%nav.navbar.navbar-expand-lg
  %a.navbar-brand{ href: "#" }
    %img{ src: "assets/img/logos/logo-toscana.png" }
  %button.navbar-toggler{ "aria-controls" => "toscanaNavbar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#toscanaNavbar", "data-toggle" => "collapse", type: "button" }
    %span.navbar-toggler-icon
  #toscanaNavbar.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %a.nav-link{ href: "#" } Vive en Sabaneta
      %li.nav-item
        %a.nav-link{ href: "#" } Estamos cerca de
      %li.nav-item
        %a.nav-link{ href: "#" } Video
      %li.nav-item
        %a.nav-link{ href: "#" } Proyectos toscana
      %li.nav-item
        %a.nav-link{ href: "#" } Ubicación
      %li.nav-item
        %a.nav-link{ href: "#" } Contacto
    %ul.navbar-nav.ml-auto
      %li.nav-item
        %a.nav-link{ href: "#" }
          %i.fa.fa-facebook
      %li.nav-item
        %a.nav-link{ href: "#" }
          %i.fa.fa-instagram