%section.main-properties#proyectos
  .main-properties__item
    %img.property-img.w-100{ src: "assets/img/prato.jpg", alt: "Prato" }
    .item-mask.wow.fadeInUp
      %img.property-logo{ src: "assets/img/logos/logo-prato.png", alt: "Prato logo" }
      %h4.strong Prato
      %h4 Apartamentos
      .item-mask__area
        %span Área
        %br
        70 m² hasta 87 m²
      .item-mask__price
        %span Desde
        $323.601.608
        %br
        %small Valor impuestos incluido*
      .item-mask__button
        %a.btn.btn-custom.white{ href: "http://67.205.183.131/Nivel/", target: 'blank' } Visitar Ahora
  .main-properties__item
    %img.property-img.w-100{ src: "assets/img/livorno.jpg", alt: "livorno" }
    .item-mask.wow.fadeInUp{ "data-wow-delay" => "0.5s"}
      %img.property-logo{ src: "assets/img/logos/logo-livorno.png", alt: "livorno logo" }
      %h4.strong Livorno
      %h4 Apartamentos
      .item-mask__area
        %span Área
        %br
        55 m² hasta 62 m²
      .item-mask__price
        %span Desde
        $251.913.401
        %br
        %small Valor impuestos incluido*
      .item-mask__button
        %a.btn.btn-custom.white{ href: "http://67.205.183.131/Nivel/", target: 'blank' } Visitar Ahora