%section.main-location#ubicacion
  .main-location__header
    %h1 Ubicación
  .main-location__map
    %h1
      AQUÍ NOS PUEDES
      %span ENCONTRAR
    %iframe{allowfullscreen: "", "aria-hidden" => "false", frameborder: "0", height: "420", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1983.4684949969858!2d-75.6204883907434!3d6.139167438547209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46831c07d4c241%3A0x8d9fb9a3701ea18a!2sPRATO%20DE%20LA%20TOSCANA%20APARTAMENTOS!5e0!3m2!1sen!2sve!4v1587606198754!5m2!1sen!2sve", style: "border:0;", tabindex: "0"}