%section.main-location#ubicacion
  .main-location__header
    %h1 Ubicación
  .main-location__map
    %h1
      AQUÍ NOS PUEDES
      %span ENCONTRAR
    %iframe{allowfullscreen: "", "aria-hidden" => "false", frameborder: "0", height: "420", src: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3966.938303189569!2d-75.62004917631063!3d6.138991099038318!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdd3aab6ba48bd17e!2sToscana%20Ciudadela%20Residencial!5e0!3m2!1sen!2sve!4v1587679392978!5m2!1sen!2sve", style: "border:0;", tabindex: "0"}