%section.main-about#sabaneta
  .main-about__text
    %h1.title
      Vive en
      %span Sabaneta
    %h4 Cerca de todo
    %p Ubicado en el municipio de Sabaneta, Antioquia, sector Loma de San José, zona de alta valorización, facilidad de acceso por diferentes vías, en una reserva natural que te entregará toda la tranquilidad que necesitas.
    %a.btn.btn-custom.mb-5{ href: "#" } Ver ubicación
  .main-about__img
    %img.wow.fadeInDown{ "data-wow-delay" => ".5s", src: "assets/img/section-01.jpg", alt: "Vive en Sabaneta" }