%section.main-slider
  .main-slider__item{ style: "background-image:url('assets/img/slide-01.jpg');"}
    .main-slider__info
      %h2.boldness
        Conecta
        %br/
        %span
          con tus
          %i sentidos
      %ul
        %li Observa la naturaleza
        %li Respira mejor aire
        %li Siente entorno campestre
      %p.boldness
        70.000 m
        %sup 2
      %p.mb-0 de reserva natural
  .main-slider__item{ style: "background-image:url('assets/img/slide-02.png');"}
    .main-slider__infoproject
  .main-slider__item{ style: "background-image:url('assets/img/slide-03.png');"}
    .main-slider__infoproject