@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background-image: url("../img/navbar-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 8px 5vw 8px 8vw;
}

.nav-item {
  padding: 0 8px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .nav-item {
    padding: 0 6px;
  }
}

.navbar-brand img {
  width: 135px;
}

.nav-link {
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.nav-link i {
  font-size: 20px;
}

.main-slider {
  width: 100%;
  height: 90vh;
}

.main-slider .main-slider__item {
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 8vw;
}

.main-slider .main-slider__info {
  background-color: rgba(32, 82, 80, 0.66);
  color: #fff;
  padding: 30px;
  width: 400px;
  height: 85%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-slider .main-slider__info ul {
  padding-left: 0;
}

.main-slider .main-slider__info li {
  list-style: none;
  margin: 30px 0;
}

.main-slider .main-slider__info p, .main-slider .main-slider__info li {
  font-size: 17px;
  letter-spacing: 4px;
  font-weight: 500;
}

.main-slider .main-slider__info h2 {
  text-transform: uppercase;
  line-height: 30px;
  font-size: 40px;
}

.main-slider .main-slider__info h2 span {
  font-weight: 500;
  font-size: 17px;
}

.main-slider .main-slider__info h2 i {
  font-weight: 600;
}

.main-slider .main-slider__info .boldness {
  letter-spacing: 4px;
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 0;
}

.main-quick-form {
  background-color: #205250;
  display: grid;
  grid-template-columns: 35% 55%;
  padding: 30px 50px 30px 6vw;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-quick-form {
    grid-template-columns: 40% 50%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-quick-form {
    grid-template-columns: 40% 60%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-quick-form {
    grid-template-columns: 40% 60%;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-quick-form {
    grid-template-columns: 100%;
    padding: 30px;
  }
}

.main-quick-form .main-quick-form__text {
  color: #fff;
  font-size: 22px;
  letter-spacing: 0.83px;
  display: flex;
  align-items: center;
}

.main-quick-form .main-quick-form__text span {
  font-weight: 700;
}

.main-quick-form .main-quick-form__text p, .main-quick-form .main-quick-form__text .main-slider .main-slider__info li, .main-slider .main-slider__info .main-quick-form .main-quick-form__text li {
  font-weight: 300;
}

.main-quick-form .main-quick-form__form {
  display: grid;
  grid-template-columns: 35% 50%;
  grid-gap: 30px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-quick-form .main-quick-form__form {
    grid-template-columns: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-quick-form .main-quick-form__form {
    grid-template-columns: 50% 50%;
  }
}

.main-quick-form .main-quick-form__form .form-check-label {
  font-size: 11px;
  color: #fff;
}

.main-quick-form .main-quick-form__form .form-check-label a {
  color: #fff;
  text-decoration: underline;
}

.main-quick-form .main-quick-form__form textarea {
  height: 80px;
  resize: none;
}

.btn-submit {
  border: 1px solid #fff;
  width: 100%;
  border-radius: 0;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  transition: all ease-in-out .3s;
}

.btn-submit:hover {
  background-color: #fff;
  color: #205250;
  transition: all ease-in-out .3s;
}

.btn-submit.btn-submit-white {
  background-color: #fff;
  color: #205250;
}

.btn-submit.btn-submit-white:hover {
  background-color: transparent;
  color: #fff;
  transition: all ease-in-out .3s;
}

.btn-custom {
  border: 1px solid #585e59;
  border-radius: 0;
  color: #585e59;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 1.69px;
  padding: 10px 20px;
  transition: all ease-in-out .3s;
}

.btn-custom:hover {
  background-color: #205250;
  color: #fff;
  transition: all ease-in-out .3s;
}

.btn-custom.white {
  color: #fff;
  border: 1px solid #fff;
}

.btn-custom.white:hover {
  background-color: #fff;
  color: #205250;
  transition: all ease-in-out .3s;
}

.form-control {
  border-radius: 0;
  font-size: 15px;
  border: 1px solid #fff;
  background-clip: unset;
}

.form-control:focus {
  box-shadow: none;
  border-color: #205250;
}

.main-about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 30px;
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-about {
    grid-template-columns: 100%;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-about {
    grid-template-columns: 100%;
  }
}

.title {
  position: relative;
  margin: 120px 0 90px 50px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.41px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .title {
    font-size: 30px;
    margin: 100px 0 70px 50px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .title {
    font-size: 30px;
    margin: 100px 0 70px 50px;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .title {
    font-size: 30px;
    margin: 100px 0 70px 50px;
  }
}

.title span {
  font-weight: 600;
}

.title::before {
  content: "";
  position: absolute;
  left: -50px;
  color: rgba(88, 94, 89, 0.16);
  font-size: 150px;
  font-weight: bold;
  top: -70px;
}

.main-about__text .title {
  background-color: #fff;
  color: #585e59;
}

.main-about__text .title::before {
  content: "01";
  color: rgba(88, 94, 89, 0.16);
  z-index: -1;
}

.main-about__text h4 {
  color: #585e59;
  font-weight: 600;
  margin-bottom: 25px;
}

.main-about__text p, .main-about__text .main-slider .main-slider__info li, .main-slider .main-slider__info .main-about__text li {
  color: #2d2d2d;
  font-size: 18px;
  width: 85%;
  letter-spacing: 0.05px;
  height: 25%;
  margin-bottom: 70px;
  position: relative;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-about__text p, .main-about__text .main-slider .main-slider__info li, .main-slider .main-slider__info .main-about__text li {
    height: auto;
  }
}

.main-about__text p::before, .main-about__text .main-slider .main-slider__info li::before, .main-slider .main-slider__info .main-about__text li::before {
  content: "";
  position: absolute;
  background-color: #205250;
  width: 106px;
  height: 9px;
  bottom: -20px;
}

.main-about__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slick-next, .slick-prev {
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all ease-in-out .2s;
}

.slick-next:hover, .slick-prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: all ease-in-out .2s;
}

.slick-next::before, .slick-prev::before {
  font-family: 'FontAwesome';
  font-size: 16px;
}

.slick-next {
  right: 10px;
}

.slick-next::before {
  content: "\f054";
}

.slick-prev {
  left: 10px;
  z-index: 1;
}

.slick-prev::before {
  content: "\f053";
}

.main-nearby {
  background-image: url("../img/section-02-06-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 40% 60%;
  padding-bottom: 50px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-nearby {
    grid-template-columns: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-nearby {
    grid-template-columns: 100%;
  }
}

.main-nearby__img img {
  width: 95%;
}

.main-nearby__text {
  z-index: 1;
  padding-left: 80px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-nearby__text {
    padding-left: 20px;
  }
}

.main-nearby__text .title {
  background: linear-gradient(90deg, #205250 0%, rgba(35, 97, 94, 0.86) 45%, rgba(32, 82, 80, 0.1) 100%);
  color: #fff;
  display: inline-block;
}

.main-nearby__text .title::before {
  content: "02";
  color: rgba(255, 255, 255, 0.16);
  z-index: -1;
}

.main-nearby__list {
  display: flex;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-nearby__list {
    display: unset;
  }
}

.main-nearby__list ul {
  padding-left: 0;
  list-style: none;
  margin-right: 50px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-nearby__list ul {
    margin-right: 0;
  }
}

.main-nearby__list li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 15px;
}

.main-nearby__list li .list-icon {
  border-radius: 50%;
  height: 33px;
  width: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nearby__list li .list-icon img {
  width: 100%;
}

.main-nearby__list li .list-text {
  margin-left: 10px;
  color: white;
  letter-spacing: 0.04px;
  font-size: 15px;
}

.main-video {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-video h3 {
  color: #fff;
  font-size: 35px;
  letter-spacing: 0.1px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.main-properties {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
}

.main-properties .main-properties__item {
  position: relative;
}

.main-properties .main-properties__item .property-img {
  height: 100%;
}

.main-properties .main-properties__item .item-mask {
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-color: rgba(32, 82, 80, 0.66);
  color: #fff;
  width: 100%;
  height: 260px;
  padding: 20px 40px;
}

.main-properties .main-properties__item .item-mask .property-logo {
  margin-bottom: 10px;
}

.main-properties .main-properties__item .item-mask h4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}

.main-properties .main-properties__item .item-mask h4.strong {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 0;
}

.main-properties .main-properties__item .item-mask__area, .main-properties .main-properties__item .item-mask__price {
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
}

.main-properties .main-properties__item .item-mask__area span, .main-properties .main-properties__item .item-mask__price span {
  font-size: 15px;
}

.main-properties .main-properties__item .item-mask__area small, .main-properties .main-properties__item .item-mask__price small {
  font-size: 10px;
}

.main-properties .main-properties__item .item-mask__area {
  margin-bottom: 8px;
}

.main-properties .main-properties__item .item-mask__button {
  position: absolute;
  right: 40px;
  bottom: 20px;
}
