@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background-color: #205250;
  background-image: url("../img/navbar-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 8px 5vw 8px 8vw;
}

@media (min-width: 0px) and (max-width: 575px) {
  .navbar {
    background-image: unset;
    padding: 8px 16px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .navbar {
    background-image: unset;
    padding: 8px 16px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    background-image: unset;
    padding: 8px 16px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar {
    padding: 8px 20px;
  }
}

.navbar-toggler span {
  color: #fff;
}

.navbar-toggler:focus {
  outline: none;
}

.nav-item {
  padding: 0 8px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .nav-item {
    padding: 0 6px;
  }
}

.navbar-brand img {
  width: 135px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .navbar-brand img {
    width: 125px;
  }
}

.nav-link {
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.nav-link i {
  font-size: 20px;
}

.main-slider {
  width: 100%;
  height: 90vh;
}

.main-slider .main-slider__item {
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 8vw;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-slider .main-slider__item {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.main-slider .main-slider__box {
  background-color: rgba(32, 82, 80, 0.66);
  color: #fff;
  padding: 30px;
  width: 400px;
  min-height: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-slider .main-slider__box {
    height: auto;
    width: 100%;
  }
}

.main-slider .main-slider__info ul {
  padding-left: 0;
}

.main-slider .main-slider__info li {
  list-style: none;
  margin: 30px 0;
}

.main-slider .main-slider__info p, .main-slider .main-slider__info li {
  font-size: 17px;
  letter-spacing: 4px;
  font-weight: 500;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-slider .main-slider__info p, .main-slider .main-slider__info li {
    font-size: 15px;
  }
}

.main-slider .main-slider__info h2 {
  text-transform: uppercase;
  line-height: 30px;
  font-size: 40px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-slider .main-slider__info h2 {
    font-size: 30px;
  }
}

.main-slider .main-slider__info h2 span {
  font-weight: 500;
  font-size: 17px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-slider .main-slider__info h2 span {
    font-size: 15px;
  }
}

.main-slider .main-slider__info h2 i {
  font-weight: 600;
}

.main-slider .main-slider__info .boldness {
  letter-spacing: 4px;
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 0;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-slider .main-slider__info .boldness {
    font-size: 30px;
  }
}

.main-slider .main-slider__infoproject {
  text-align: left;
}

.main-slider .main-slider__infoproject img {
  width: 140px;
  margin-bottom: 15px;
}

.main-slider .main-slider__infoproject h4 {
  font-weight: 400;
  font-size: 38px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-slider .main-slider__infoproject h4 {
    font-size: 25px;
  }
}

.main-slider .main-slider__infoproject h4::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 15%;
  background-color: #fff;
  bottom: 0;
  left: 0;
}

.main-slider .main-slider__infoproject .infoproject__address {
  text-transform: uppercase;
}

.main-slider .main-slider__infoproject .infoproject__address p, .main-slider .main-slider__infoproject .infoproject__address .main-slider__info li, .main-slider .main-slider__info .main-slider__infoproject .infoproject__address li, .main-slider .main-slider__infoproject .infoproject__area p, .main-slider .main-slider__infoproject .infoproject__area .main-slider__info li, .main-slider .main-slider__info .main-slider__infoproject .infoproject__area li {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 25px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-slider .main-slider__infoproject .infoproject__address p, .main-slider .main-slider__infoproject .infoproject__address .main-slider__info li, .main-slider .main-slider__info .main-slider__infoproject .infoproject__address li, .main-slider .main-slider__infoproject .infoproject__area p, .main-slider .main-slider__infoproject .infoproject__area .main-slider__info li, .main-slider .main-slider__info .main-slider__infoproject .infoproject__area li {
    font-size: 19px;
  }
}

.main-slider .main-slider__infoproject .infoproject__address span, .main-slider .main-slider__infoproject .infoproject__area span, .main-slider .main-slider__infoproject .infoproject__price span {
  font-weight: 300;
  font-size: 23px;
  text-transform: none;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-slider .main-slider__infoproject .infoproject__address span, .main-slider .main-slider__infoproject .infoproject__area span, .main-slider .main-slider__infoproject .infoproject__price span {
    font-size: 19px;
  }
}

.main-slider .main-slider__infoproject .infoproject__price {
  line-height: 30px;
}

.main-slider .main-slider__infoproject .infoproject__price p, .main-slider .main-slider__infoproject .infoproject__price .main-slider__info li, .main-slider .main-slider__info .main-slider__infoproject .infoproject__price li {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 2px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-slider .main-slider__infoproject .infoproject__price p, .main-slider .main-slider__infoproject .infoproject__price .main-slider__info li, .main-slider .main-slider__info .main-slider__infoproject .infoproject__price li {
    font-size: 28px;
  }
}

.main-slider .main-slider__infoproject .infoproject__price span {
  font-size: 26px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-slider .main-slider__infoproject .infoproject__price span {
    font-size: 22px;
  }
}

.main-slider .main-slider__infoproject .infoproject__price small {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-slider .main-slider__infoproject .infoproject__price small {
    font-size: 15px;
  }
}

textarea {
  resize: none;
}

.main-quick-form {
  background-color: #205250;
  display: grid;
  grid-template-columns: 35% 55%;
  padding: 30px 50px 30px 6vw;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-quick-form {
    grid-template-columns: 40% 50%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-quick-form {
    grid-template-columns: 40% 60%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-quick-form {
    grid-template-columns: 40% 60%;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-quick-form {
    grid-template-columns: 100%;
    padding: 30px;
  }
}

.main-quick-form .main-quick-form__text {
  color: #fff;
  font-size: 22px;
  letter-spacing: 0.83px;
  display: flex;
  align-items: center;
}

.main-quick-form .main-quick-form__text span {
  font-weight: 700;
}

.main-quick-form .main-quick-form__text p, .main-quick-form .main-quick-form__text .main-slider .main-slider__info li, .main-slider .main-slider__info .main-quick-form .main-quick-form__text li {
  font-weight: 300;
}

.main-quick-form .main-quick-form__form {
  display: grid;
  grid-template-columns: 35% 50%;
  grid-gap: 30px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-quick-form .main-quick-form__form {
    grid-template-columns: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-quick-form .main-quick-form__form {
    grid-template-columns: 50% 50%;
  }
}

.main-quick-form .main-quick-form__form textarea {
  height: 80px;
}

.form-check-label {
  font-size: 11px;
  color: #fff;
}

.form-check-label a {
  color: #fff;
  text-decoration: underline;
}

.btn-submit {
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  transition: all ease-in-out .3s;
}

.btn-submit:hover {
  background-color: #fff;
  color: #205250;
  transition: all ease-in-out .3s;
}

.btn-submit.btn-submit-white {
  background-color: #fff;
  color: #205250;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 1.33px;
  padding: 6px 20px;
}

.btn-submit.btn-submit-white:hover {
  background-color: transparent;
  color: #fff;
  transition: all ease-in-out .3s;
}

.btn-custom {
  border: 1px solid #585e59;
  border-radius: 0;
  color: #585e59;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 1.69px;
  padding: 10px 20px;
  transition: all ease-in-out .3s;
}

.btn-custom:hover {
  background-color: #205250;
  color: #fff;
  transition: all ease-in-out .3s;
}

.btn-custom.white {
  color: #fff;
  border: 1px solid #fff;
}

.btn-custom.white:hover {
  background-color: #fff;
  color: #205250;
  transition: all ease-in-out .3s;
}

.btn-custom.transparent {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  font-weight: 400;
}

.btn-custom.transparent:hover {
  background-color: #fff;
  color: #205250;
  transition: all ease-in-out .3s;
}

.form-control {
  border-radius: 0;
  font-size: 15px;
  border: 1px solid #fff;
  background-clip: unset;
}

.form-control:focus {
  box-shadow: none;
  border-color: #205250;
}

.main-about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 30px 30px 60px 30px;
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-about {
    grid-template-columns: 100%;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-about {
    grid-template-columns: 100%;
  }
}

.title {
  position: relative;
  margin: 120px 0 90px 50px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.41px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .title {
    font-size: 30px;
    margin: 100px 0 70px 50px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .title {
    font-size: 30px;
    margin: 100px 0 70px 50px;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .title {
    font-size: 30px;
    margin: 100px 0 70px 50px;
  }
}

.title span {
  font-weight: 600;
}

.title::before {
  content: "";
  position: absolute;
  left: -50px;
  color: rgba(88, 94, 89, 0.16);
  font-size: 150px;
  font-weight: bold;
  top: -70px;
}

.main-about__text .title {
  background-color: #fff;
  color: #585e59;
}

.main-about__text .title::before {
  content: "01";
  color: rgba(88, 94, 89, 0.16);
  z-index: -1;
}

.main-about__text h4 {
  color: #585e59;
  font-weight: 600;
  margin-bottom: 25px;
}

.main-about__text p, .main-about__text .main-slider .main-slider__info li, .main-slider .main-slider__info .main-about__text li {
  color: #2d2d2d;
  font-size: 18px;
  width: 85%;
  letter-spacing: 0.05px;
  height: 25%;
  margin-bottom: 70px;
  position: relative;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-about__text p, .main-about__text .main-slider .main-slider__info li, .main-slider .main-slider__info .main-about__text li {
    height: auto;
  }
}

.main-about__text p::before, .main-about__text .main-slider .main-slider__info li::before, .main-slider .main-slider__info .main-about__text li::before {
  content: "";
  position: absolute;
  background-color: #205250;
  width: 106px;
  height: 9px;
  bottom: -20px;
}

.main-about__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slick-next, .slick-prev {
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all ease-in-out .2s;
}

.slick-next:hover, .slick-prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: all ease-in-out .2s;
}

.slick-next::before, .slick-prev::before {
  font-family: 'FontAwesome';
  font-size: 16px;
}

.slick-next {
  right: 10px;
}

.slick-next::before {
  content: "\f054";
}

.slick-prev {
  left: 10px;
  z-index: 1;
}

.slick-prev::before {
  content: "\f053";
}

.main-nearby {
  background-image: url("../img/section-02-06-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 40% 60%;
  padding-bottom: 50px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-nearby {
    grid-template-columns: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-nearby {
    grid-template-columns: 100%;
  }
}

.main-nearby__img img {
  width: 95%;
}

.main-nearby__text {
  z-index: 1;
  padding-left: 80px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-nearby__text {
    padding-left: 20px;
  }
}

.main-nearby__text .title {
  background: linear-gradient(90deg, #205250 0%, rgba(35, 97, 94, 0.86) 45%, rgba(32, 82, 80, 0.1) 100%);
  color: #fff;
  display: inline-block;
}

.main-nearby__text .title::before {
  content: "02";
  color: rgba(255, 255, 255, 0.16);
  z-index: -1;
}

.main-nearby__list {
  display: flex;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-nearby__list {
    display: unset;
  }
}

.main-nearby__list ul {
  padding-left: 0;
  list-style: none;
  margin-right: 50px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-nearby__list ul {
    margin-right: 0;
  }
}

.main-nearby__list li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 15px;
}

.main-nearby__list li .list-icon {
  border-radius: 50%;
  height: 33px;
  width: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nearby__list li .list-icon img {
  width: 100%;
}

.main-nearby__list li .list-text {
  margin-left: 10px;
  color: white;
  letter-spacing: 0.04px;
  font-size: 15px;
}

.main-video {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-video h3 {
  color: #fff;
  font-size: 35px;
  letter-spacing: 0.1px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.main-properties {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-properties {
    height: auto;
    grid-template-columns: 100%;
  }
}

.main-properties .main-properties__item {
  position: relative;
}

.main-properties .main-properties__item .property-img {
  height: 100%;
}

.main-properties .main-properties__item .item-mask {
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-color: rgba(32, 82, 80, 0.66);
  color: #fff;
  width: 100%;
  height: 260px;
  padding: 20px 40px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-properties .main-properties__item .item-mask {
    height: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-properties .main-properties__item .item-mask {
    height: auto;
  }
}

.main-properties .main-properties__item .item-mask .property-logo {
  margin-bottom: 10px;
}

.main-properties .main-properties__item .item-mask h4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}

.main-properties .main-properties__item .item-mask h4.strong {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 0;
}

.main-properties .main-properties__item .item-mask__area, .main-properties .main-properties__item .item-mask__price {
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
}

.main-properties .main-properties__item .item-mask__area span, .main-properties .main-properties__item .item-mask__price span {
  font-size: 15px;
}

.main-properties .main-properties__item .item-mask__area small, .main-properties .main-properties__item .item-mask__price small {
  font-size: 10px;
}

.main-properties .main-properties__item .item-mask__area {
  margin-bottom: 8px;
}

.main-properties .main-properties__item .item-mask__button {
  position: absolute;
  right: 40px;
  bottom: 20px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-properties .main-properties__item .item-mask__button {
    position: relative;
    right: unset;
    bottom: unset;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-properties .main-properties__item .item-mask__button {
    position: relative;
    right: unset;
    bottom: unset;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-properties .main-properties__item .item-mask__button {
    right: 20px;
    bottom: unset;
    top: 20px;
  }
}

.main-location__header {
  background-image: url("../img/location-header.png");
  background-position: center;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px 30px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-location__header {
    justify-content: center;
  }
}

.main-location__header h1 {
  color: #fff;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 1.41px;
  text-transform: uppercase;
  margin-bottom: 0;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-location__header h1 {
    font-size: 30px;
  }
}

.main-location__map {
  padding: 40px 60px;
  text-align: center;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-location__map {
    padding: 40px 20px;
  }
}

.main-location__map iframe {
  width: 100%;
}

.main-location__map h1 {
  color: #585e59;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 1.41px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-location__map h1 {
    font-size: 30px;
  }
}

.main-location__map h1 span {
  font-weight: 500;
}

.main-form {
  background-image: url("../img/section-02-06-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 100px 85px 100px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-form {
    grid-template-columns: 100%;
    padding: 0 20px 50px 20px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-form {
    grid-template-columns: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-form {
    grid-template-columns: 40% 60%;
    padding: 0 50px 85px 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-form {
    padding: 0 15px 70px 15px;
  }
}

.main-form .main-form__address {
  z-index: 1;
}

.main-form .main-form__address dl {
  margin-left: 45px;
  color: #fff;
  font-size: 18px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-form .main-form__address dl {
    margin-left: 0;
  }
}

.main-form .main-form__address dl dt {
  font-weight: 600;
}

.main-form .main-form__address dl dd {
  font-weight: 300;
}

.main-form .main-form__address dl dd a {
  color: #fff;
}

.main-form .main-form__address dl dd a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.66);
}

.main-form .title {
  background: linear-gradient(90deg, #205250 0%, rgba(35, 97, 94, 0.86) 45%, rgba(32, 82, 80, 0.1) 100%);
  color: #fff;
  display: inline-block;
  margin: 110px 0 90px 45px;
}

.main-form .title::before {
  content: "06";
  color: rgba(255, 255, 255, 0.16);
  z-index: -1;
}

.main-form__form {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-form__form {
    margin-top: 30px;
  }
}

.main-form__form form {
  border: 1px solid #fff;
  padding: 15px 30px 30px 30px;
}

.main-form__form form h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2.67px;
  font-size: 20px;
  margin-bottom: 20px;
}

.main-form__form form h3 span {
  font-weight: 700;
}

.main-form__form .form-control {
  background-color: rgba(255, 255, 255, 0.04);
  color: #fff;
  font-size: 14px;
}

.main-form__form .form-control:focus {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.main-form__form .form-control::placeholder {
  color: #fff;
}

.main-footer {
  background-image: url("../img/footer-bg.jpg");
  display: grid;
  grid-template-columns: 40% 30% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 100px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-footer {
    grid-template-columns: 100%;
    padding: 20px;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-footer {
    grid-template-columns: 50% 50%;
  }
}

.main-footer__col {
  color: #fff;
}

.main-footer__col p, .main-footer__col .main-slider .main-slider__info li, .main-slider .main-slider__info .main-footer__col li {
  font-size: 18px;
  font-weight: 300;
  width: 75%;
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-footer__col p, .main-footer__col .main-slider .main-slider__info li, .main-slider .main-slider__info .main-footer__col li {
    width: 100%;
  }
}

.main-footer__col img {
  width: 140px;
  margin-bottom: 20px;
}

.main-footer__col ul {
  padding-left: 0;
  list-style: none;
}

.main-footer__col a {
  color: #fff;
}

.main-footer__col a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.66);
}

.main-footer__col .rrss {
  display: inline-flex;
}

.main-footer__col .rrss li {
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

.main-footer__col .menu li {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.05px;
  margin-bottom: 5px;
}

.main-footer__col .menu li.menu-title {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}
